<div class="container-fluid" style="padding-top:200px">
    <div class="row">
      <div class="col-md-4 menu-item-container" (click)="navigate('manageProducts')">
        <div class="menu-item">Gérer les produits</div>
      </div>
      <div class="col-md-4 menu-item-container">
        <div class="menu-item">Consulter les statistiques de vente</div>
      </div>

      <div class="col-md-4 menu-item-container">
        <div class="menu-item" (click)="navigate('manageProviders')">Fournisseurs</div>
      </div>

      
      
    </div>
  </div>