<div class="modal-header">
    <h4 class="modal-title">{{product.name ? product.name : "--"}}</h4>
    <button type="button" class="close" aria-label="Fermer" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center flex-nowrap">
            <div class="col-md-6">
                <img src="{{mainImage}}" class="product-main-image" />
            </div>
            <div class="col-md-6 details">
                <div class="product-details">
                    <span class="subtitle">Déscription :</span>
                    <br />
                    <span class="product-description">
                        {{product.description ? product.description : "--"}}
                    </span>
                    <div class="amounts-container">
                        <div class="splitter-left">
                            <div class="quantity"><span class="subtitle">Catégorie :</span><span
                                    class="amount-value">{{product.category ? product.category : "--"}}</span></div>
                            <div class="quantity"><span class="subtitle">Marque :</span><span
                                    class="amount-value">{{product.brand ? product.brand : "--"}}</span></div>
                            <div class="quantity"><span class="subtitle">Couleur :</span><span
                                    class="amount-value">{{product.color ? product.color: "--"}}</span></div>
                            <div class="quantity"><span class="subtitle">Quantité :</span><span
                                    class="amount-value">{{product.quantity ? product.quantity : "--"}}</span></div>
                        </div>
                        <div class="splitter-right">
                            <div class="product-sell-price"><span class="subtitle">Prix de vente :</span><span
                                    class="amount-value">{{product.sellingPrice ? product.sellingPrice+" DT" :
                                    "--"}}</span>
                            </div>
                            <div class="product-state"><span class="subtitle">Etat :</span><span
                                    class="amount-value">{{product.state ? product.state : "--"}}</span>
                            </div>
                            <div class="product-provider"><span class="subtitle">Fournisseur :</span><span
                                    class="amount-value">{{product.provider ? product.provider : "--"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center flex-nowrap">
            <div class="col-md-6 images-row">
                <div *ngFor="let image of product.image">
                    <img src="{{image}}" class="product-image" (click)="selectImage(image)" />
                </div>


            </div>

        </div>
    </div>
</div>
<!--<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fermer</button>
</div>-->