.image-container {
    text-align: center;
    padding: 5px;
}

.product-main-image {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 0.363);
}



.product-image {
    text-align: center;
    width: 18%;
    margin-right: 4px;
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 0.363);
}


.details {
    border-left: 1px solid rgb(24, 118, 189);
}

.images-row {
    padding-top: 20px;
}

.subtitle {
    color: dimgrey;
}

.amount-value {
    padding-left: 15px;
    color: rgb(37, 37, 37);
}

.amounts-container {
   
    width: 100%;

}

.detail{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.description{
    display: block;
    min-height: 100px;
}

.splitter-left {
    width: 50%;
    height: 20%;
    float: left
}

.splitter-right {
    width: 50%;
    height: 20%;
    float: left;
}