.image-container {
    text-align: center;
    padding: 20px;
}

.product-main-image {
    text-align: center;
    width: 90%;
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 0.363);
}

.product-image {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 0.363);
}
